@mixin grid-col ($col-start, $col-end) {
	-ms-grid-column: $col-start;
	-ms-grid-column-span: $col-end - $col-start;
	grid-column: #{$col-start}/#{$col-end};
}

@mixin grid-row ($row-start, $row-end) {
	-ms-grid-row: $row-start;
	-ms-grid-row-span: $row-end - $row-start;
	grid-row: #{$row-start}/#{$row-end};
}