.item {
	@include v(background-color, item-bg);
	transform-origin: 0 0;
	margin-top: 25%;
	align-self: flex-start;
	margin-bottom: 2rem;

	&__img {
		display: block;
		margin: 0 auto;
		transform: translateY(-50%);
		width: 50%;
		border-radius: 100%;
		position: relative;

		&:before {
			@include v(background-color, item-bg);
			content: '';
			width: 100%;
			padding-top: 100%;
			border-radius: 100%;
			position: relative;
			display: block;
		}

		&:after {
			background-color: $offwhite;
			content: '';
			width: 100%;
			padding-top: 100%;
			border-radius: 100%;
			position: absolute;
			top:-.5rem;
			left:-.5rem;
			z-index: -1;
			display: block;
			border: .5rem solid $offwhite;
		}

		svg {
			color: $offwhite;
		}

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: auto;
    		width: 50%;
		}
	}

	&__body {
		@include v(color, text-diap);
		margin-top: -25%;
		padding: 2rem 3.5em;

		span {
			display: block;
			text-transform: capitalize;

			+ span {
				text-transform: uppercase;
				@include v(font-size, small);

				.overlay & {
					--font-size-small: 1.4rem;
				}
			}
		}

		.title {
			@include v(font-size, h1);

			@include from-breakpoint(tablet-portrait) {
				@include v(font-size, big);
			}
		}
	}

	&:nth-of-type(4n+1){
		--color-item-bg: $yellow;
		.grid-item__img {
			&:before {
				--color-item-bg: $yellow;
			}
		}
	}

	&:nth-of-type(4n+2){
		--color-item-bg: $gray;
		.grid-item__img {
			&:before {
				--color-item-bg: $gray;
			}
		}
	}

	&:nth-of-type(4n+3){
		--color-item-bg: $dark;

		.grid-item__img {
			&:before {
				--color-item-bg: $dark;
			}
		}
	}

	&:hover {
		cursor: pointer;
	}

	.overlay & {

		&:hover {
			cursor: auto;
		}
	}
}