.overlay {
	width: 100%;
	height: 100%;
	z-index: -1;
	display: flex;
	opacity: 0;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	transform: scale(0.9);
	transition: transform 0.5s, opacity 0.5s, visibility 0s 2s, z-index 0s 1s;

	&.-open {
		background-color: $offwhite;
		z-index: 1000;
		opacity: 1;
		pointer-events: all;
		visibility: visible;
		transform: scale(1);
		transition: transform 0.5s, opacity .3s;
	}

	.close {
		margin-top: 2em;
		margin-right: 2em;
		
		@include from-breakpoint(tablet-landscape) {
			margin-top: 2em;
			margin-right: 2em;
		}
	
	}

	&__body {
		background-color: $dark;
		padding: 2em;
		//max-width: 80vw;
		width: 100%;
	
		@include from-breakpoint(tablet-landscape) {
			padding: 4em;
			width: 68rem;
		}
	
		form {
			max-width: 60rem;
			display: flex;
			flex-direction: column;
			align-self: center;
		}
	
		.btn {
			align-self: flex-end;
		}
	}

	&__details {

		.item {
			padding: 0 10vw 10vw;
		
		}
		.item__bg {
			width: 0;
			background-color: $gray;
			position: fixed;
			left: 0;
			transition: width 1s ease;
		}

		.item__img {
			max-width: 16rem;
		}

		.item__body {
			margin-top: -16rem;

			@include from-breakpoint(tablet-landscape) {
				margin-top: -16rem;
			}
		}

		.close {
			svg {
				--color-icon: $dark;
			}

			&:hover {
				svg {
					--color-icon: $yellow;
				}
			}
		}

		&.-open {
			background-color: $offwhite;

			.item__bg {
				width: 100%;
				height: 100%;
				transform: translateX(0);
				opacity: 1;
				transition: width .5s ease-in;
			}
		}
	}

}

