.overlay {
	background-color: $offwhite;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: flex;
	opacity: 0;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 2s, z-index 0s 1s;

	.close {
		margin-top: 1em;
		margin-right: 1em;
		
		@include from-breakpoint(tablet-portrait) {
			margin-top: 3em;
			margin-right: 3em;
		}
	
	}

	&__bg {
		width: 100%;
		height: 100%;
		background-color: $gray;
		position: fixed;
		z-index: -1;
		left: 0;
		top: 20rem;
		transform: translateX(100%);
		visibility: visible;
		transition: transform .3s ease, width 0.5s ,visibility 0s 1s;

		@include from-breakpoint(tablet-portrait) {
			top: 30rem;
		}
	}

	&__body {
		margin-top: -2rem;
		width: 100%;
		display: flex;
		justify-content: center;
		opacity: 0;
	
		@include from-breakpoint(tablet-portrait) {
			margin-top: 10rem;
			padding:0 4em;
			width: 68rem;
		}
	
		form {
			width: 100%;
			max-width: 80vw;
			display: flex;
			flex-direction: column;

			@include from-breakpoint(tablet-landscape) {
				flex: 0 1 60rem;
				max-width: 60rem;
			}
		}

		legend {
			@include v(font-size, big);
			line-height: 3;
			
		}
	
		.btn {
			align-self: flex-end;
		}
	}

	&__details {

		.item {
			opacity: 0;
			background: transparent;
			align-self: center;
			display: flex;
			//margin-top: 2rem;

			@include from-breakpoint(tablet-portrait) {
				margin-top: 8rem;
				max-width: 72rem;
			}
		}

		.item__img {
			max-width: 12rem;

			@include from-breakpoint(tablet-portrait) {
				max-width: 20rem;
				width: 20rem;
				height: 20rem;
				flex: 1 0 auto;
				transform: translateY(2rem);
			}
		}

		.item__body {
			margin-top: -6rem;
			text-align: left;

			@include from-breakpoint(tablet-portrait) {
				//margin-top: -8rem;
				margin-top: 0;

				.title {
					color: color(text);
					line-height: 3;
				}
			}
		}

		.close {
			svg {
				--color-icon: $dark;
			}

			&:hover {
				svg {
					--color-icon: $yellow;
				}
			}
		}

		&.-open {
			background-color: $offwhite;
		}
	}

	&.-open {
		z-index: 1000;
		position: fixed;
		opacity: 1;
		pointer-events: all;
		visibility: visible;
		transition: transform 0.5s, opacity .3s;
	
		.overlay__bg {
			width: 100%;
			height: 100%;
			transform: translateX(0);
			opacity: 1;
			visibility: visible;
			transition: transform .3s ease-in;
		}

		.overlay__body,
		.item {
			opacity: 1;
		}
	}
}

