
$lato: 'Lato', sans-serif; //400, default

$font-family: (
	default: $lato,
	headings: $lato
);

$font-weight: (
	default: 400,
	headings: normal
);

// font map
$font: (
	family: (
		body: $lato,
		heading: $lato
	),
	weight: (
		body: 300,
		heading: normal,
	),
	size: (
		body: 1.6rem,
		h1: 2.4rem,
		h2: 2rem,
		h3: 1.6rem,
		h4: 1.4rem,
		button: 1.5rem,
		big: 4.5rem,
		small: 1.4rem,
	),
	leading: (
		body: 1.7,
		heading: 1.2,
	)
);