.btn {
	@include v(color, button-text);
	@include v(font-size, button);
	position: relative;
	display: flex;
	align-items: center;
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	border: none;
	background-color: $dark;
	border-radius: 100%;
	padding: 1.2rem 1.4rem;
	text-decoration: none;
	cursor: pointer;
	transition: width .3s, border-radius 0s 1s, border-color .3s ease, color .3s ease;

	svg {
		--color-icon:color(button-text);
		transform: scale(1);
		margin-right: auto;
		transition: transform 1s;
		position: absolute;
		left:1.4rem;
		top: 1.4rem;
	}

	span {
		opacity: 0;
		width: 0;
		visibility: hidden;
		transform: translateX(-100%);
	}

	&:hover {
		--color-button-text: $yellow;
		width: 18rem;
		height: 6rem;
		border-radius: 3rem;
		transition: width .5s;

		svg {
			--color-icon: $yellow;
			transform: scale(.75);
			transition: transform 1s ease 0s;
		}

		span {
			opacity: 1;
			width: 100%;
			transform: translateX(1.4rem);
			visibility: visible;
			transition:  transform .8s -.3s, opacity .3s .2s;
		}
	}

	&__submit {

		svg {
			--color-icon:color(button-text);
			transition: opacity .3s;
		
			&:last-of-type {
				opacity: 0;
			}
		}

		&:disabled {
			--color-button-text: lighten(color(base), 30%);
			--color-base:lighten(color(base), 30%);
			cursor: default;
		}

		&:hover:not(:disabled) {
			--color-button-text: color(button-hover);
			--color-border: color(button-hover);
	
			svg {
				--color-icon: color(button-hover);

				&:first-of-type {
					opacity: 0;
				}

				&:last-of-type {
					opacity: 1;
				}
			}
		}
	}


	&.-editt {
		position: relative;
		display: flex;
		align-items: center;
		width: 6rem;
		height: 6rem;
		overflow: hidden;
		transition: width .3s, border-radius 0s 1s;

		svg {
			transform: scale(1);
			margin-right: auto;
			transition: transform 1s;
			position: absolute;
			left:1.4rem;
			top: 1.4rem;
		}
		span {
			opacity: 0;
			width: 0;
			visibility: hidden;
			transform: translateX(-100%);
		}

		&:hover {
			width: 18rem;
			height: 6rem;
			border-radius: 3rem;
			transition: width .5s;

			svg {
				transform: scale(.75);
				transition: transform 1s ease 0s;
			}

			span {
				opacity: 1;
				width: 100%;
				transform: translateX(1.4rem);
				visibility: visible;
				transition:  transform .8s -.3s, opacity .3s .2s;
			}
		}
	}


	//don't use (var --color), the var is already defined in the svg, just change the color value of the defined variable
	// svg use {
	// 	--color-primary: #123456;
	// }
}
