.btn {
	@include v(color, button-text);
	@include v(font-size, button);
	@include v(border-color, border);
	background: transparent;
	display: inline-block;
	padding: 1.2rem 1.7rem;
	line-height: 1.8rem;
	border-width: 2px;
	border-style: solid;
	border-radius: 2px;
	text-decoration: none;
	cursor: pointer;
	transition: border-color .3s ease, color .3s ease;

	&:hover:not(:disabled) {
		--color-button-text: color(button-hover);
		--color-border: color(button-hover);

		svg {
			--color-icon: color(button-hover);
		}
	}

	&:disabled {
		--color-button-text: lighten(color(base), 30%);
		--color-base:lighten(color(base), 30%);
		--color-border:lighten(color(base), 30%);
		cursor: default;
	}

	&__primary {
		border-color: color(primary);
		color: white;
		background-color: color(primary);
	
		&:disabled,
		&.-disabled {
			background-color: color(primary);
			border-color: color(primary);
		}
	}

	&__submit {
		position: relative;
		padding-left: 4em;

		svg {
			--color-icon:color(button-text);
			margin-left: 1rem;
			position: absolute;
			left: .75rem;
			width: 2rem;
			height: 2rem;
			border-right: 1px solid rgba(color(button-text), .4);
			padding-right: .75em;
			transition: opacity .3s;
		
			&:last-of-type {
				opacity: 0;
			}
		}

		&:disabled {
					
			svg {
				--color-icon: lighten(color(base), 30%);
				border-right-color: lighten(color(base), 20%);
			}
		}

		&:hover:not(:disabled) {

			svg {
				border-right-color: rgba(color(button-hover), .4);

				&:first-of-type {
					opacity: 0;
				}

				&:last-of-type {
					opacity: 1;
				}
			}
		}
	}

	&--round {
		border: none;
		background-color: $dark;
		border-radius: 100%;
		padding: 1.2rem 1.4rem;
		
		svg {
			--color-icon:color(button-text);
		}

		&:hover {

			svg {
				--color-icon: lighten(color(base), 30%);
			}
		}
	}

	&.-edit {
		position: relative;
		display: flex;
		align-items: center;
		width: 6rem;
		height: 6rem;
		overflow: hidden;
		transition: width .3s, border-radius 0s 1s;

		svg {
			transform: scale(1);
			margin-right: auto;
			transition: transform 1s ease-in-out;
		}
		span {
			opacity: 0;
			width: 0;
			visibility: hidden;
			transform: translateX(-100%);
		}

		&:hover {
			width: 17rem;
			height: 6rem;
			border-radius: 3rem;
			transition: width 1s;

			svg {
				transform: scale(.75);
				transition: transform .5s;
			}

			span {
				opacity: 1;
				width: 100%;
				transform: translateX(0rem);
				visibility: visible;
				transition:  transform .9s, opacity .5s .4s;
			}
		}
	}


	//don't use (var --color), the var is already defined in the svg, just change the color value of the defined variable
	// svg use {
	// 	--color-primary: #123456;
	// }
}
