.close {
	align-self: flex-end;
	display: block;
	outline: none;
	background: transparent;
	border: none;

	svg {
		@include v(color, icon);
		--color-icon: $gray;
		width: 4rem;
		height: 4rem;
	}

	&:hover {
		cursor: pointer;

		svg {
			--color-icon: $yellow;
		}
	}
}